<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50612997512-4v0gvbser0unre3morh0u4uhom16v831.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50612997512-4v0gvbser0unre3morh0u4uhom16v831</string>
	<key>API_KEY</key>
	<string>AIzaSyDRrK_RuZ9OUPngGJ_XGBwIa4sfyEgi_Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>50612997512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>access.random.HoleyValley</string>
	<key>PROJECT_ID</key>
	<string>holeyvalleytest</string>
	<key>STORAGE_BUCKET</key>
	<string>holeyvalleytest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50612997512:ios:3ef5d5471c0b2f999f7e3d</string>
</dict>
</plist>